@{
    ViewData["Title"] = "CS366Homework4";
}
<html lang = "en">
<link rel="stylesheet" href="site.css" type="text/css" />

<div class="text-center">
    <table.tableStyle class = ".tableStyle">
        <tbody>
        <tr align = "center">
    <h1 class="display-4">CS366 Homework 4</h1>
    <h3>2021</h3>
    <p>A couple forms and some simple server-side logic -- learning basics of GET,POST, form data, parameters and model binding. 
        Doing it all with ASP.NET MVC Core.</p>
        </tr>
        </tbody>
        </table.tableStyle>
</div>

<table width="100%">
    <tr>
    <div id="bigWrapper">
        <td width="50%" align="center">
                <h1>
                RGB Color
                </h1>
                </td>
                
               

        <td width="50%" align="center">
                <h1>
                Color Interpolation
                </h1>
                </td>
                
        </tr>
        </div>
        </table>

    <table width="100%">
    <tr>
    <div id="bigWrapper">
        <td width="50%" align="center">
                 If you want to know what a specific color looks like, 
                            or other information such as its web color, this is the place. You can use Query strings to 
                            send form data to the serve. It will read the request and performs calculations so that you may
                            witness the request.
                </td>

                <td width 10%></td>
                
        <td width="50%" align="center">
              
                 If you want to know what a specific color looks like, 
                or other information such as its web color, this is the place. You can use Query strings to 
                send form data to the serve. It will read the request and performs calculations so that you may
                witness the request.
    
                </td>
                
        </tr>
        </div>
        </table>
        <tr>

              <table width = "100%">
                  <div id="bigWrapper">
                      
    <tr width="50%" align="center"> 
    <td>
        <span> <a class="nav-link text-dark" asp-area="" asp-controller="RGBColor" asp-action="RGB_Color">Click Here For RGB Color</a></span>
    </td>    

    <td width 20%></td>  

    <td width="50%" align="center">
        <span><a class="nav-link text-dark" asp-area="" asp-controller="ColorInterpolation" asp-action="Color_Interpolation">Click Here For Color Interpolation</a></span>
    </td>  

    </tr>
    </div>
    </table>
    </tr>
        
                        


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

