@* @{
    ViewData["Title"] = "RGB_Color";
} *@

@model int?


<link rel="stylesheet" href="site.css" type="text/css" />

<table>
<div class="text-center">
    <p>A couple forms and some simple server-side logic -- learning basics of GET,POST, form data, parameters and model binding. 
        Doing it all with ASP.NET MVC Core.</p>
</div>
</table>


<div id="bigWrapper">
        <div id="top">
            <h1>
               Enter a RGB Color combination to see the results
                </h1>
        </div>

        <nav id="navigationBar">

            <div class="contains">

                <div class="left1">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <table class="table borderless">
                                <tbody>
                                    <tr align="center" style=>
                                        <td colspan="3">
                                            <table class="table vert-mid borderless">
                                                <tbody>

                        </div>
                        
                        </tr>
                        <form asp-controller ="Home" asp-action = "RGB_Color" method = "get">
                            <tr align="center">
                                <td>
                                    <span>Red</span>
                                </td>
                                <td>
                                    <input name = "red" type="number" id="red" size="3" maxlength="3" min="0" max = "255"
                                        class="form-control positive-numeric-only">
                            </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span>Blue</span>
                                </td>
                                <td>
                                    <input name = "blue" type="number" size="3" maxlength="3" min="0" max = "255"
                                        class="form-control positive-numeric-only">
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span>Green</span>
                                </td>
                                <td>
                                    <input name = "green" type="number" size="3" maxlength="3" min="0" max = "255"
                                        class="form-control positive-numeric-only">
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <input id="getColor" type="submit" value="Get Color" class="btn btn-primary">
                                </td>

                            </tr>
                            </tbody>
                            </table>
                        </form>
                        @if(Model != null)
                        {
                        <p>Thanks for the input!</p>
                        }
                    </div>
                </div>
        </nav>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
