@{
    ViewData["Title"] = "Your Room And Board";
}
<h1>@ViewData["Title"]</h1>
@model Hw5HomeModel


    <div id="bigWrapper">
        <div id="top">
            <h1 class=mainIdea>
                The FireFly Hotel
                </h1.mainIdea>
        </div>
        
<link rel="stylesheet" href="site.css" type="text/css" />

<div class="text-center">
    <table.tableStyle class = ".tableStyle">
        <tbody>
        <tr align = "center">
    <h1 class="display-4"></h1><h1 class = "mainIdea" align="center">You will be staying at the FireFly Hotel, room A27.</h1></h1>
        </tr>
        </tbody>
        </table.tableStyle>
</div>

<table width="100%">
    <a><img src="/Images/FireFlyHotel.PNG" width = "100%"/></a>
    <tr>
    <div id="bigWrapper">
        <td width="45%" align="center">
                <h1>
                Order Your Meal Here
                </h1>
                <tr align="center">
                                <td>
                                    <span>You can select what you want, and what time. Deliveries will be made at times specified below,
                                        give or take 15 minutes. Other Wise food will be served up to an hour after times below.</span>
                                </td>
                                <td>
                                  <select id="nature" class="nat">
                                        <option value="1">Breakfast (08:00)</option>
                                        <option value="2">Brunch (10:00) </option>
                                        <option value="3">Lunch (13:00)</option>
                                        <option value="4">Dinner (16:00)</option>
                                        <option value="5">Midnight Chow (23:00)</option>
                                       
                                    </select>
                                </td>


                            </tr>

                <tr align="center">
                                <td>
                                    <span>Protien: </span>
                                </td>
                                <td>
                                  <select id="nature" class="nat">
                                        <option value="1">Local Filet Mignon </option>
                                        <option value="2">Wild Alaskan Salmon </option>
                                        <option value="3">Local Chicken</option>
                                        <option value="4">Local Pork Chops</option>
                                        <option value="5">Local Lamb Chops</option>
                                        <option value="6">Local Tbone Steak</option>
                                        <option value="7">Duck</option>
                                        <option value="8">Bison Steak</option>
                                        <option value="9">Turkey</option>
                                        <option value="10">Local Sausage</option>
                                        <option value="11">Local Eggs</option>
                                        <option value="12">Local Bacon</option>
                                        <option value="13">I Do Not Wish To Order Anything In This Category</option>
                                    </select>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span>Carbohydrate:</span>
                                </td>
                                <td>
                                    <select id="nature" class="nat">
                                        <option value="1">Plant Based Pesto Noodles</option>
                                        <option value="2">Steamed Rice </option>
                                        <option value="3">Brown Rice</option>
                                        <option value="4">Alfredo Noodles</option>
                                        <option value="5">Spaghetti</option>
                                        <option value="6">Toast, Wheat</option>
                                        <option value="7">Hash Potatoes</option>
                                        <option value="8">I Do Not Wish To Order Anything In This Category</option>
                                    </select>
                                </td>

                            </tr>

                            <tr align="center">
                                <td>
                                    <span>Vegetables And Fruit:</span>
                                </td>
                                <td>
                                <select id="nature" class="nat">
                                        <option value="1">Assorted Vegetables</option>
                                        <option value="2">Broccoli</option>
                                        <option value="3">Cesar Salad</option>
                                        <option value="4">Green Beans</option>
                                        <option value="5">Vegetable Stir Fry</option>
                                        <option value="6">Assorted Berries</option>
                                        <option value="7">Apples</option>
                                        <option value="8">Bannanas</option>
                                        <option value="9">Mango Slices</option>
                                        <option value="10">Watermelon</option>
                                        <option value="11">I Do Not Wish To Order Anything In This Category</option>
                                    </select>
                                </td>

                            </tr>


                            <tr align="center">
                                <td>
                                    <span>Drink:</span>
                                </td>
                                <td>
                             <select id="nature" class="nat">
                                        <option value="1">Local Wheat Beer</option>
                                        <option value="2">Heineken </option>
                                        <option value="3">Corona</option>
                                        <option value="4">London Pride</option>
                                        <option value="5">Orange Juice</option>
                                        <option value="6">Milk</option>
                                        <option value="7">Coffee</option>
                                        <option value="8">Hot Chocalate</option>
                                        <option value="9">Mimosa</option>
                                        <option value="10">Bloody Marry</option>
                                        <option value="11">I Do Not Wish To Order Anything In This Category</option>
                                    </select>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span>Dessert / Pastries:</span>
                                </td>
                                <td>
                                    <select id="nature" class="nat">
                                        <option value="1">Vanilla Ice Cream</option>
                                        <option value="2">Cake of the Day </option>
                                        <option value="3">Brownies</option>
                                        <option value="4">Bannana Split Sunday</option>
                                        <option value="5">Pancakes </option>
                                        <option value="6">Waffles</option>
                                        <option value="7">Crossiant</option>
                                        <option value="8"> French Toast</option>
                                        <option value="9"> Crepes</option>
                                        <option value="10">Souffle </option>
                                        <option value="11">I Do Not Wish To Order Anything In This Category</option>
                                    </select>
                                </td>
                            </tr>

                            <tr align="center">
                                     <td>
                                    <input id="SendOrder" type="button" value="Send The Order" class="btn btn-primary" align = "center">
                                </td>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p class="mainIdea" id="suggestion"> Hello! </p>
                </td>      
        </tr>
        </div>
        </table>
</div>  
 